*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a{
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}

.home header {
    background-color: #EAC926;
    padding-bottom: 20px;
}

.home header nav .logo{
    width: 75%;
    padding: 30px;
}

.home header div.search{
    text-align: left;
}

.home header div h3 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.home header div {
    text-align: center ;
    margin-left: 5px;
}

.home header div nav ul li {
    text-align: left;
}

.home header div div.burger-menu {
    display: inline-block;
    font-size: 30px;
    line-height: 10px;
    background-color: #1259c3;
    color: white;
    padding: 15px;
    border: #1259c3 1px solid ;
    border-radius: 10px;
    margin-top: 10px;
}

.home header div nav ul.usser{
    margin-top: 20px;
}

.home main .banner img{
    width: 100%;
    display: none;
}

.home main h2{
    font-size: 24px;
}

.home main article span {
    display: block;
    font-size: 18px;
}

.home main section article{
    margin: 10px;
}

.home main article p {
    font-size: 16px;
}

.home main article img {
    width: 60%;
}

.home footer {
    text-align: center;
}

.home footer section i{
    color: #1259c3;
    font-size: 2em;
    margin-top: 80px;
    margin-bottom: 10px;
}

.home footer section h3{
    font-size: 20px;
}

.home footer section p{
    padding: 0px 30px 0px 30px;
}

.home footer p.copyright{
    margin-top: 30px;
    text-align: left;
}